# Ignorar dependencias de Node.js
node_modules/

# Archivos de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs y diagnósticos
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales
*.swp
*.tmp
*.bak

